html, body{
	height: 100%;
}
body{
	margin: 0;
}

div {
    display: flex;
    height: 100%;
    background-color: #2eb398;
    color: white;
    font-size: 22px;
}

div p {
    flex: 1;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}